

.friend-profile-photo{
    border: 5px solid lightslategray;
    width: 25px;
    height: auto;
}

.friendcard{
    float: left;
    border: 15px solid purple;
    max-width: 75px;
    height: 75px;
    padding: 10px 10px
}
    