.profile-photo{
    padding: 10px;
    max-width: 40vw;
    height: auto;
}

.user-bio{
    padding: 10px;
    word-wrap: break-word;
    max-width: 40vw;
}

.username{
    padding: 10px;
}

.game-display{
    padding: 10px;
    float: left;
}


