body{
    background-image: url("https://images.pexels.com/photos/82256/pexels-photo-82256.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: contain;
  }

  .welcome-banner{
      font-weight: bold;
      position: absolute;
      left: 50%;
      margin-left: -50px;
  }

  .home-buttons{
      padding: 10px;

  }

  .profile-button{
    color: black;
}

  .login-banner{
      font-weight: bold;
      margin: 3px;
      padding: 10px;
  }

  .name{
      padding: 10px;
      float: right;
  }

  .nav-buttons{
      padding: 15px;
      color: black;
  }

  .username{
      padding: 15px;
  }

  .my-games{
    margin-left: 7px;
      padding:3px;
  }

  .my-friends{
    margin-left: 7px;
    padding:3px;
  }

  .find-stuff{
    margin-left: 7px;
    padding:3px;
  }

  .match-button{
    margin-left: 7px;
    padding:3px;
  }

  .user-bio{
      font-weight: bold;
  }

  .game-name{
      font-weight: bold;
      padding: 1px;
      word-wrap: break-word;
  }

  .game-search{
      padding: 10px;
  }

  .searched-game{
      padding: 10px;
  }

  .platform-select{
    padding: 10px;
  }

  .game-info{
    padding: 10px;
  }

  .game-genre{
    padding: 10px;
  }

  .game-desc{
    padding: 10px;
  }

  .friend-card{
    padding: 10px;
  }

  .friend-profile-card{
    padding: 10px;
    max-width: 260px;
    float: left;
  }

  .friend-profile-photo{
    width: 250px;
    height: 250px;
  }

  .friend-name{
    padding: 5px;
    font-weight: bold;
  }

  .friend-clicker{
    padding: 5px;
  }

  .find-friend{
    padding: 10px;
    
}

.potential-match-photo{
  padding: 10px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  height: auto
}

.match-username{
  padding: 10px;
}

.match-bio{
  padding: 10px;
  
}

.be-friends-button{
  padding: 10px;
}

  /* .profile-photo
  } */